<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Clients</a>
        <a class="nav-item nav-link" routerLink="/products" routerLinkActive="active">Productos</a>
        <a class="nav-item nav-link" routerLink="/orders" routerLinkActive="active">Ordenes</a>
    </div>
</nav>

<!-- main app container -->
<div class="app-container">
    <alert></alert>
    <router-outlet></router-outlet>
  <footer class="text-center">
    <p>Powered by Raúl and the Internet with ❤️</p>
  </footer>
</div>


