<div class="p-4 wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mx-auto">
       <img src="assets/images/logo.jpg" alt="">
      </div>
     </div>
  </div>
  <div class="container flex-container">
    <div class="row">
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/images/consumer.svg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Clientes</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a routerLink="/users" class="btn btn-primary">Ver clientes</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/images/trolley.svg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Productos</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a routerLink="/products" class="btn btn-primary">Ver productos</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/images/box.svg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Ordenes</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a routerLink="/orders" class="btn btn-primary">Ver ordenes</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
